In [26]:
import pandas as pd
import json 
import csv 
import gzip
from functools import reduce

In [15]:
Jan_2019 = "../Data/safegraph_core_and_patterns/2019_01/core_poi-patterns.csv.gz"
Feb_2019= "../Data/safegraph_core_and_patterns/2019_02/core_poi-patterns.csv.gz"
March_2019= "../Data/safegraph_core_and_patterns/2019_03/core_poi-patterns.csv.gz"
April_2019="../Data/safegraph_core_and_patterns/2019_04/core_poi-patterns.csv.gz"
May_2019="../Data/safegraph_core_and_patterns/2019_05/core_poi-patterns.csv.gz"
June_2019="../Data/safegraph_core_and_patterns/2019_06/core_poi-patterns.csv.gz"
July_2019="../Data/safegraph_core_and_patterns/2019_07/core_poi-patterns.csv.gz"
August_2019="../Data/safegraph_core_and_patterns/2019_08/core_poi-patterns.csv.gz"
Sept_2019="../Data/safegraph_core_and_patterns/2019_09/core_poi-patterns.csv.gz"
Oct_2019="../Data/safegraph_core_and_patterns/2019_10/core_poi-patterns.csv.gz"
Nov_2019="../Data/safegraph_core_and_patterns/2019_11/core_poi-patterns.csv.gz"
December_2019="../Data/safegraph_core_and_patterns/2019_12/core_poi-patterns.csv.gz"
Jan_2020 = "../Data/safegraph_core_and_patterns/2020_01/core_poi-patterns.csv.gz"
Feb_2020= "../Data/safegraph_core_and_patterns/2020_02/core_poi-patterns.csv.gz"
March_2020= "../Data/safegraph_core_and_patterns/2020_03/core_poi-patterns.csv.gz"
April_2020="../Data/safegraph_core_and_patterns/2020_04/core_poi-patterns.csv.gz"
May_2020="../Data/safegraph_core_and_patterns/2020_05/core_poi-patterns.csv.gz"
June_2020="../Data/safegraph_core_and_patterns/2020_06/core_poi-patterns.csv.gz"
July_2020="../Data/safegraph_core_and_patterns/2020_07/core_poi-patterns.csv.gz"
August_2020="../Data/safegraph_core_and_patterns/2020_08/core_poi-patterns.csv.gz"
Sept_2020="../Data/safegraph_core_and_patterns/2020_09/core_poi-patterns.csv.gz"
Oct_2020="../Data/safegraph_core_and_patterns/2020_10/core_poi-patterns.csv.gz"
Nov_2020="../Data/safegraph_core_and_patterns/2020_11/core_poi-patterns.csv.gz"
December_2020="../Data/safegraph_core_and_patterns/2020_12/core_poi-patterns.csv.gz"

All 2019 Data

In [19]:
Jan_2019_data = pd.read_csv(Jan_2019, compression='gzip')
Feb_2019_data = pd.read_csv(Feb_2019, compression='gzip')
March_2019_data = pd.read_csv(March_2019, compression='gzip')
April_2019_data = pd.read_csv(April_2019, compression='gzip')
May_2019_data = pd.read_csv(May_2019, compression='gzip')
June_2019_data = pd.read_csv(June_2019, compression='gzip')
July_2019_data = pd.read_csv(July_2019, compression='gzip')
August_2019_data = pd.read_csv(August_2019, compression='gzip')
Sept_2019_data = pd.read_csv(Sept_2019, compression='gzip')
Oct_2019_data = pd.read_csv(Oct_2019, compression='gzip')
Nov_2019_data = pd.read_csv(Nov_2019, compression='gzip')
December_2019_data = pd.read_csv(December_2019, compression='gzip')

In [93]:
Jan_2019_data.head()

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
0,228-222@5z5-3qt-vj9,zzw-222@5z5-3qt-vj9,The Kind Bite,NaN,NaN,Specialty Food Stores,Fruit and Vegetable Markets,NaN,445230.0,34.060562,...,10.0,"{""<5"":0,""5-10"":1,""11-20"":0,""21-60"":0,""61-120"":...",{},"{""Johnstone Supply"":100,""Denny's"":100}","[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0]","{""Monday"":0,""Tuesday"":0,""Wednesday"":0,""Thursda...","{""android"":0,""ios"":0}",6.037209e+10,{},{}
1,22f-222@5z4-zw9-syv,NaN,Up Foundation,NaN,NaN,Religious Organizations,Religious Organizations,NaN,813110.0,34.063608,...,7.0,"{""<5"":2,""5-10"":4,""11-20"":0,""21-60"":1,""61-120"":...","{""Target"":25,""W Hotels"":25,""BCBGeneration"":13,...","{""Target"":50,""McDonald's"":50,""Shell Oil"":38,""S...","[0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,0,1,0,0,0,1,0,0,0]","{""Monday"":1,""Tuesday"":2,""Wednesday"":2,""Thursda...","{""android"":4,""ios"":4}",6.037265e+10,"{""06037265100"":4,""06037574201"":4,""06037208710"":4}",{}
2,223-222@5z4-zw9-wzf,NaN,Cafe Synapse,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,"Sandwich Shop,Coffee Shop,Pizza",722511.0,34.067491,...,40.0,"{""<5"":33,""5-10"":197,""11-20"":119,""21-60"":200,""6...","{""Subway"":15,""Blaze Pizza"":12,""Chevron"":2,""Chi...","{""Subway"":44,""Starbucks"":32,""Target"":31,""Blaze...","[20,16,22,23,21,24,65,77,113,145,177,184,207,2...","{""Monday"":117,""Tuesday"":173,""Wednesday"":204,""T...","{""android"":152,""ios"":171}",6.037265e+10,"{""06037265301"":21,""06037265305"":13,""0603726530...","{""060372653011"":71,""060372653051"":12,""06037265..."
3,228-222@5z5-3qx-2kz,NaN,BM Real Estate,NaN,NaN,Offices of Real Estate Agents and Brokers,Offices of Real Estate Agents and Brokers,NaN,531210.0,34.032514,...,43.0,"{""<5"":0,""5-10"":1,""11-20"":1,""21-60"":0,""61-120"":...","{""McDonald's"":25}","{""McDonald's"":75,""Ross Stores"":50,""Jack in the...","[1,1,0,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0,1,1,0,0,0,0]","{""Monday"":0,""Tuesday"":2,""Wednesday"":0,""Thursda...","{""android"":4,""ios"":0}",6.037222e+10,"{""06037482522"":4,""06037408505"":4}","{""060374825223"":4,""060372132011"":4}"
4,225-222@5z5-3qt-9fz,NaN,Soledad Enrichment Action Charter High,NaN,NaN,Elementary and Secondary Schools,Elementary and Secondary Schools,NaN,611110.0,34.075638,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
print(Jan_2019_data[['popularity_by_day']])

                                       popularity_by_day
0      {"Monday":0,"Tuesday":0,"Wednesday":0,"Thursda...
1      {"Monday":1,"Tuesday":2,"Wednesday":2,"Thursda...
2      {"Monday":117,"Tuesday":173,"Wednesday":204,"T...
3      {"Monday":0,"Tuesday":2,"Wednesday":0,"Thursda...
4                                                    NaN
...                                                  ...
48978  {"Monday":14,"Tuesday":15,"Wednesday":12,"Thur...
48979  {"Monday":45,"Tuesday":32,"Wednesday":39,"Thur...
48980  {"Monday":8,"Tuesday":13,"Wednesday":9,"Thursd...
48981                                                NaN
48982  {"Monday":1,"Tuesday":1,"Wednesday":0,"Thursda...

[48983 rows x 1 columns]

In [32]:
Jan_2019_data[Jan_2019_data["location_name"]=="Italiano's Pizza"]

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
21375,zzw-223@5z5-3ps-rc5,NaN,Italiano's Pizza,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Pizza,722511.0,34.120259,...,26.0,"{""<5"":6,""5-10"":61,""11-20"":72,""21-60"":105,""61-1...","{""McDonald's"":9,""Starbucks"":6,""Chevron"":2,""Jac...","{""McDonald's"":42,""Chevron"":29,""Starbucks"":29,""...","[9,8,12,13,12,16,26,64,69,61,70,64,68,62,74,60...","{""Monday"":50,""Tuesday"":43,""Wednesday"":62,""Thur...","{""android"":100,""ios"":56}",6.037183e+10,"{""06037183220"":15,""06037183101"":14,""0603718322...","{""060371838101"":6,""060371832201"":6,""0603718310..."

In [36]:
Feb_2019_data[Feb_2019_data["location_name"]=="Italiano's Pizza"]

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
20714,zzw-223@5z5-3ps-rc5,NaN,Italiano's Pizza,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Pizza,722511.0,34.120259,...,30.5,"{""<5"":5,""5-10"":90,""11-20"":46,""21-60"":74,""61-12...","{""LA Fitness"":4,""Starbucks"":3,""99 Cents Only S...","{""McDonald's"":39,""Starbucks"":31,""CVS"":28,""Jack...","[13,13,11,10,12,13,19,76,81,88,89,78,70,64,75,...","{""Monday"":57,""Tuesday"":51,""Wednesday"":56,""Thur...","{""android"":76,""ios"":48}",6.037183e+10,"{""06037183101"":8,""06037183220"":8,""06037183221""...","{""060371831032"":8,""060371832202"":6,""0603718310..."

In [37]:
March_2019_data[March_2019_data["location_name"]=="Italiano's Pizza"]

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
12057,zzw-223@5z5-3ps-rc5,NaN,Italiano's Pizza,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Pizza,722511.0,34.120259,...,22.0,"{""<5"":9,""5-10"":109,""11-20"":62,""21-60"":84,""61-1...","{""McDonald's"":8,""Starbucks"":5,""99 Cents Only S...","{""McDonald's"":46,""Starbucks"":32,""99 Cents Only...","[9,8,6,12,12,14,27,86,90,88,82,63,65,77,95,67,...","{""Monday"":44,""Tuesday"":59,""Wednesday"":48,""Thur...","{""android"":88,""ios"":66}",6.037183e+10,"{""06037183103"":12,""06037183220"":10,""0603746230...","{""060371832212"":10,""060371831013"":7,""060371837..."

In [38]:
April_2019_data[April_2019_data["location_name"]=="Italiano's Pizza"]

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
42871,zzw-223@5z5-3ps-rc5,NaN,Italiano's Pizza,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Pizza,722511.0,34.120259,...,30.0,"{""<5"":7,""5-10"":72,""11-20"":57,""21-60"":89,""61-12...","{""Starbucks"":5,""McDonald's"":4,""Chevron"":3,""Jac...","{""McDonald's"":42,""Starbucks"":34,""Jack in the B...","[4,5,6,8,8,12,23,85,80,67,65,61,55,72,92,65,21...","{""Monday"":59,""Tuesday"":66,""Wednesday"":68,""Thur...","{""android"":81,""ios"":62}",6.037183e+10,"{""06037183220"":16,""06037183103"":9,""06037183101...","{""060371832201"":8,""060371832202"":7,""0603721850..."

In [39]:
May_2019_data[May_2019_data["location_name"]=="Italiano's Pizza"]

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
26827,zzw-223@5z5-3ps-rc5,NaN,Italiano's Pizza,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Pizza,722511.0,34.120259,...,29.0,"{""<5"":3,""5-10"":94,""11-20"":67,""21-60"":102,""61-1...","{""Starbucks"":5,""Chevron"":4,""Jack in the Box"":4...","{""Starbucks"":41,""McDonald's"":41,""Chevron"":31,""...","[13,17,17,17,18,20,29,117,102,99,97,80,79,93,1...","{""Monday"":47,""Tuesday"":54,""Wednesday"":89,""Thur...","{""android"":83,""ios"":67}",6.037183e+10,"{""06037183101"":17,""06037183220"":13,""0603718322...","{""060371831011"":12,""060371832212"":8,""060371831..."

In [40]:
June_2019_data[June_2019_data["location_name"]=="Italiano's Pizza"]

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
0,zzw-223@5z5-3ps-rc5,NaN,Italiano's Pizza,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Pizza,722511.0,34.120259,...,34.0,"{""<5"":2,""5-10"":39,""11-20"":41,""21-60"":70,""61-12...","{""Starbucks"":4,""McDonald's"":4,""Jack in the Box...","{""Starbucks"":45,""McDonald's"":45,""99 Cents Only...","[13,12,12,12,12,19,21,48,34,42,41,50,54,36,38,...","{""Monday"":35,""Tuesday"":32,""Wednesday"":41,""Thur...","{""android"":71,""ios"":54}",6.037183e+10,"{""06037183220"":17,""06037183101"":10,""0603718310...","{""060371831013"":10,""060371832202"":9,""060290028..."

In [41]:
July_2019_data[July_2019_data["location_name"]=="Italiano's Pizza"]

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
23506,zzw-223@5z5-3ps-rc5,NaN,Italiano's Pizza,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Pizza,722511.0,34.120259,...,26.5,"{""<5"":2,""5-10"":28,""11-20"":26,""21-60"":39,""61-12...","{""Starbucks"":7,""McDonald's"":7,""Chevron"":5,""99 ...","{""McDonald's"":51,""Chevron"":47,""Starbucks"":35,""...","[8,8,9,7,5,10,11,13,5,11,15,18,24,27,20,17,16,...","{""Monday"":22,""Tuesday"":17,""Wednesday"":21,""Thur...","{""android"":53,""ios"":29}",6.037183e+10,"{""06037183104"":8,""06037183101"":8,""06037183103""...","{""060371831013"":11,""060371831031"":6,""060371831..."

In [42]:
August_2019_data[August_2019_data["location_name"]=="Italiano's Pizza"]

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
36651,zzw-223@5z5-3ps-rc5,NaN,Italiano's Pizza,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Pizza,722511.0,34.120259,...,27.0,"{""<5"":11,""5-10"":78,""11-20"":47,""21-60"":63,""61-1...","{""Starbucks"":4,""McDonald's"":3,""Taco Bell"":3,""C...","{""McDonald's"":47,""Starbucks"":42,""99 Cents Only...","[14,13,13,13,13,17,19,49,48,46,49,52,57,45,65,...","{""Monday"":36,""Tuesday"":52,""Wednesday"":50,""Thur...","{""android"":75,""ios"":59}",6.037183e+10,"{""06037183101"":14,""06037183103"":9,""06071002902...","{""060371831031"":6,""060371837011"":6,""0603718310..."

In [43]:
Sept_2019_data[Sept_2019_data["location_name"]=="Italiano's Pizza"]

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
48006,zzw-223@5z5-3ps-rc5,NaN,Italiano's Pizza,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Pizza,722511.0,34.120259,...,46.0,"{""<5"":15,""5-10"":114,""11-20"":72,""21-60"":124,""61...","{""The Home Depot"":5,""Chevron"":4,""McDonald's"":4...","{""McDonald's"":43,""Chevron"":29,""99 Cents Only S...","[54,55,60,60,60,61,84,204,157,162,163,170,164,...","{""Monday"":108,""Tuesday"":96,""Wednesday"":89,""Thu...","{""android"":89,""ios"":75}",6.037183e+10,"{""06037183101"":15,""06037183220"":11,""0603718322...","{""060371831011"":8,""060371831013"":7,""0603718322..."

In [44]:
Oct_2019_data[Oct_2019_data["location_name"]=="Italiano's Pizza"]

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
21721,zzw-223@5z5-3ps-rc5,NaN,Italiano's Pizza,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Pizza,722511.0,34.120259,...,22.0,"{""<5"":13,""5-10"":135,""11-20"":91,""21-60"":124,""61...","{""Starbucks"":4,""99 Cents Only Stores"":3,""McDon...","{""McDonald's"":42,""Starbucks"":37,""99 Cents Only...","[7,9,8,8,8,11,20,151,104,102,110,115,114,124,9...","{""Monday"":93,""Tuesday"":101,""Wednesday"":74,""Thu...","{""android"":105,""ios"":84}",6.037183e+10,"{""06037183101"":16,""06037183220"":13,""0603718352...","{""060371831013"":9,""060371831011"":7,""0603718322..."

In [45]:
Nov_2019_data[Nov_2019_data["location_name"]=="Italiano's Pizza"]

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
20910,zzw-223@5z5-3ps-rc5,NaN,Italiano's Pizza,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Pizza,722511.0,34.120259,...,26.0,"{""<5"":15,""5-10"":114,""11-20"":62,""21-60"":108,""61...","{""The Home Depot"":5,""Starbucks"":4,""Chevron"":3,...","{""McDonald's"":40,""Starbucks"":39,""Target"":37,""C...","[26,27,28,27,30,33,53,140,112,110,118,110,111,...","{""Monday"":59,""Tuesday"":68,""Wednesday"":57,""Thur...","{""android"":106,""ios"":63}",6.037183e+10,"{""06037183101"":15,""06037183220"":15,""0603718322...","{""060371831013"":8,""060371831031"":8,""0603718322..."

In [50]:
December_2019_data[December_2019_data["location_name"]=="Italiano's Pizza"]

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
43934,zzw-223@5z5-3ps-rc5,NaN,Italiano's Pizza,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Pizza,722511.0,34.120259,...,32.0,"{""<5"":7,""5-10"":65,""11-20"":49,""21-60"":71,""61-12...","{""McDonald's"":3,""Panda Express"":3,""Walmart"":2,...","{""McDonald's"":42,""Starbucks"":38,""99 Cents Only...","[12,12,14,15,15,15,28,92,80,81,85,80,83,75,64,...","{""Monday"":66,""Tuesday"":53,""Wednesday"":37,""Thur...","{""android"":96,""ios"":60}",6.037183e+10,"{""06037183101"":16,""06037183221"":10,""0603718322...","{""060371831012"":10,""060371832212"":9,""060371831..."

In [57]:
data_2019 = pd.concat([Jan_2019_data,Feb_2019_data,March_2019_data,April_2019_data,May_2019_data,June_2019_data, July_2019_data, August_2019_data,Sept_2019_data,Oct_2019_data])

In [60]:
data_2019 = pd.concat([data_2019, Nov_2019_data, December_2019_data])

In [61]:
data_2019

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
0,228-222@5z5-3qt-vj9,zzw-222@5z5-3qt-vj9,The Kind Bite,NaN,NaN,Specialty Food Stores,Fruit and Vegetable Markets,NaN,445230.0,34.060562,...,10.0,"{""<5"":0,""5-10"":1,""11-20"":0,""21-60"":0,""61-120"":...",{},"{""Johnstone Supply"":100,""Denny's"":100}","[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0]","{""Monday"":0,""Tuesday"":0,""Wednesday"":0,""Thursda...","{""android"":0,""ios"":0}",6.037209e+10,{},{}
1,22f-222@5z4-zw9-syv,NaN,Up Foundation,NaN,NaN,Religious Organizations,Religious Organizations,NaN,813110.0,34.063608,...,7.0,"{""<5"":2,""5-10"":4,""11-20"":0,""21-60"":1,""61-120"":...","{""Target"":25,""W Hotels"":25,""BCBGeneration"":13,...","{""Target"":50,""McDonald's"":50,""Shell Oil"":38,""S...","[0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,0,1,0,0,0,1,0,0,0]","{""Monday"":1,""Tuesday"":2,""Wednesday"":2,""Thursda...","{""android"":4,""ios"":4}",6.037265e+10,"{""06037265100"":4,""06037574201"":4,""06037208710"":4}",{}
2,223-222@5z4-zw9-wzf,NaN,Cafe Synapse,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,"Sandwich Shop,Coffee Shop,Pizza",722511.0,34.067491,...,40.0,"{""<5"":33,""5-10"":197,""11-20"":119,""21-60"":200,""6...","{""Subway"":15,""Blaze Pizza"":12,""Chevron"":2,""Chi...","{""Subway"":44,""Starbucks"":32,""Target"":31,""Blaze...","[20,16,22,23,21,24,65,77,113,145,177,184,207,2...","{""Monday"":117,""Tuesday"":173,""Wednesday"":204,""T...","{""android"":152,""ios"":171}",6.037265e+10,"{""06037265301"":21,""06037265305"":13,""0603726530...","{""060372653011"":71,""060372653051"":12,""06037265..."
3,228-222@5z5-3qx-2kz,NaN,BM Real Estate,NaN,NaN,Offices of Real Estate Agents and Brokers,Offices of Real Estate Agents and Brokers,NaN,531210.0,34.032514,...,43.0,"{""<5"":0,""5-10"":1,""11-20"":1,""21-60"":0,""61-120"":...","{""McDonald's"":25}","{""McDonald's"":75,""Ross Stores"":50,""Jack in the...","[1,1,0,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0,1,1,0,0,0,0]","{""Monday"":0,""Tuesday"":2,""Wednesday"":0,""Thursda...","{""android"":4,""ios"":0}",6.037222e+10,"{""06037482522"":4,""06037408505"":4}","{""060374825223"":4,""060372132011"":4}"
4,225-222@5z5-3qt-9fz,NaN,Soledad Enrichment Action Charter High,NaN,NaN,Elementary and Secondary Schools,Elementary and Secondary Schools,NaN,611110.0,34.075638,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48978,zzw-222@5z6-3r4-qmk,NaN,Wholesale District Air Conditioning,NaN,NaN,"Hardware, and Plumbing and Heating Equipment a...",Warm Air Heating and Air-Conditioning Equipmen...,NaN,423730.0,34.030071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48979,zzw-22j@5z4-zwb-q4v,NaN,WFM Coffee & Juice Bar,NaN,NaN,Restaurants and Other Eating Places,Snack and Nonalcoholic Beverage Bars,"Smoothie & Juice Bar,Coffee Shop",722515.0,34.061162,...,20.0,"{""<5"":1,""5-10"":37,""11-20"":33,""21-60"":48,""61-12...","{""Rocco's Tavern"":7,""Target"":5,""Starbucks"":4,""...","{""Target"":48,""Starbucks"":45,""Westfield"":43,""Co...","[2,1,1,2,4,8,11,13,11,10,14,19,25,18,11,10,25,...","{""Monday"":27,""Tuesday"":23,""Wednesday"":21,""Thur...","{""android"":40,""ios"":83}",6.037265e+10,"{""06037265202"":8,""06037265303"":6,""06037265510""...","{""060372656022"":9,""060372653011"":7,""0603726551..."
48980,228-223@5z5-3r3-zzz,NaN,Blend Interiors,NaN,NaN,Other Miscellaneous Store Retailers,Art Dealers,NaN,453920.0,34.076434,...,94.0,"{""<5"":0,""5-10"":12,""11-20"":2,""21-60"":5,""61-120""...","{""76"":8,""Walmart"":3,""Blick Art Materials"":3,""E...","{""Target"":29,""Starbucks"":29,""76"":29,""Walmart"":...","[0,0,0,0,1,1,0,6,7,7,9,10,12,12,13,12,17,15,16...","{""Monday"":8,""Tuesday"":13,""Wednesday"":4,""Thursd...","{""android"":5,""ios"":13}",6.037214e+10,"{""06037194500"":4}","{""060372140001"":4,""060371945002"":4}"
48981,zzw-224@5z4-zw8-gtv,NaN,International Lease Finance Corp,NaN,NaN,Nondepository Credit Intermediation,Consumer Lending,NaN,522291.0,34.057062,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48982,23b-222@5z5-3mq-fs5,225-225@5z5-3mq-fs5,Metro by T Mobile Authorized Dealer,NaN,NaN,Electronics and Appliance Stores,Electronics Stores,NaN,443142.0,34.026388,...,17.0,"{""<5"":1,""5-10"":1,""11-20"":2,""21-60"":1,""61-120"":...","{""McDonald's"":40,""Little Caesars"":20,""The Chee...","{""McDonald's"":80,""Target"":60,""Popeyes Louisian...","[0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,2,0,1,0,0,0]","{""Monday"":0,""Tuesday"":1,""Wednesday"":1,""Thursda...","{""android"":0,""ios"":4}",6.037205e+10,"{""06037207900"":4}",{}

In [63]:
data_2019.to_csv(r'C:\Users\Mobeen\Documents\SafeGraph_Hackathon\Data\core_and_patterns_2019.csv')

In [64]:
Jan_2020_data = pd.read_csv(Jan_2020, compression='gzip')
Feb_2020_data = pd.read_csv(Feb_2020, compression='gzip')
March_2020_data = pd.read_csv(March_2020, compression='gzip')
April_2020_data = pd.read_csv(April_2020, compression='gzip')
May_2020_data = pd.read_csv(May_2020, compression='gzip')
June_2020_data = pd.read_csv(June_2020, compression='gzip')
July_2020_data = pd.read_csv(July_2020, compression='gzip')
August_2020_data = pd.read_csv(August_2020, compression='gzip')
Sept_2020_data = pd.read_csv(Sept_2020, compression='gzip')
Oct_2020_data = pd.read_csv(Oct_2020, compression='gzip')
Nov_2020_data = pd.read_csv(Nov_2020, compression='gzip')

In [82]:
December_2020_data = pd.read_csv(December_2020, compression='gzip')

In [86]:
data_2020 = pd.concat([Jan_2020_data,Feb_2020_data,March_2020_data,April_2020_data,May_2020_data,June_2020_data, July_2020_data, August_2020_data,Sept_2020_data,Oct_2020_data])

In [87]:
data_2020 = pd.concat([data_2020, Nov_2020_data, December_2020_data])

In [89]:
data_2020.head()

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
0,229-222@5z4-zvp-yvz,NaN,Baik Art,NaN,NaN,Other Miscellaneous Store Retailers,Art Dealers,NaN,453920.0,34.034837,...,29.5,"{""<5"":8,""5-10"":41,""11-20"":20,""21-60"":48,""61-12...","{""Shell Oil"":4,""Subway"":4,""Mobil"":3,""Ralphs"":3...","{""Starbucks"":31,""Subway"":31,""Chevron"":28,""McDo...","[2,2,2,2,2,2,6,18,28,30,36,39,31,29,36,25,28,2...","{""Monday"":23,""Tuesday"":26,""Wednesday"":32,""Thur...","{""android"":39,""ios"":47}",6.037270e+10,"{""06037270200"":8,""06037267902"":5,""06037275602""...","{""060372702001"":7,""060372345011"":4,""0603726400..."
1,zzw-222@5z6-3r2-h5z,NaN,La Flor Blanca Restaurant,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Latin American Food,722511.0,34.003471,...,40.0,"{""<5"":2,""5-10"":35,""11-20"":15,""21-60"":31,""61-12...","{""Starbucks"":5,""ARCO"":3,""El Pollo Loco"":2,""McD...","{""McDonald's"":37,""Ross Stores"":35,""Starbucks"":...","[5,6,6,8,8,9,15,10,20,29,29,22,24,26,25,24,19,...","{""Monday"":18,""Tuesday"":12,""Wednesday"":22,""Thur...","{""android"":71,""ios"":9}",6.037232e+10,"{""06037231900"":12,""06037236100"":5,""06037464000...","{""060372319002"":14,""060730102002"":4,""060372312..."
2,222-226@5z5-3rr-td9,zzy-225@5z5-3rr-td9,Merrill Lynch,SG_BRAND_44f5944cc1e9f835,Merrill Lynch,Other Financial Investment Activities,Investment Advice,NaN,523930.0,34.053750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,223-222@5z5-3qt-xyv,NaN,Amigo Liquor,NaN,NaN,"Beer, Wine, and Liquor Stores","Beer, Wine, and Liquor Stores",NaN,445310.0,34.059274,...,62.5,"{""<5"":13,""5-10"":69,""11-20"":40,""21-60"":75,""61-1...","{""ARCO"":3,""McDonald's"":3,""The Home Depot"":2,""S...","{""McDonald's"":31,""ARCO"":22,""The Home Depot"":21...","[74,73,73,65,65,72,77,94,83,87,88,77,85,70,55,...","{""Monday"":53,""Tuesday"":55,""Wednesday"":61,""Thur...","{""android"":126,""ios"":40}",6.037209e+10,"{""06037208720"":16,""06037209401"":11,""0603720880...","{""060372087202"":7,""060372094012"":6,""0603721230..."
4,22g-222@5z5-3mr-p9z,NaN,Mr Draw Tattoo,NaN,NaN,Personal Care Services,Other Personal Care Services,NaN,812199.0,34.028188,...,7.0,"{""<5"":1,""5-10"":1,""11-20"":0,""21-60"":0,""61-120"":...",{},"{""Target"":100,""Walmart"":50,""Chevron"":50,""Jamba...","[0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0]","{""Monday"":1,""Tuesday"":0,""Wednesday"":0,""Thursda...","{""android"":4,""ios"":0}",6.037530e+10,"{""06037530302"":4}",{}

In [90]:
data_2020.to_csv(r'C:\Users\Mobeen\Documents\SafeGraph_Hackathon\Data\core_and_patterns_2020.csv')

In [92]:
data_2020.head()

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
0,229-222@5z4-zvp-yvz,NaN,Baik Art,NaN,NaN,Other Miscellaneous Store Retailers,Art Dealers,NaN,453920.0,34.034837,...,29.5,"{""<5"":8,""5-10"":41,""11-20"":20,""21-60"":48,""61-12...","{""Shell Oil"":4,""Subway"":4,""Mobil"":3,""Ralphs"":3...","{""Starbucks"":31,""Subway"":31,""Chevron"":28,""McDo...","[2,2,2,2,2,2,6,18,28,30,36,39,31,29,36,25,28,2...","{""Monday"":23,""Tuesday"":26,""Wednesday"":32,""Thur...","{""android"":39,""ios"":47}",6.037270e+10,"{""06037270200"":8,""06037267902"":5,""06037275602""...","{""060372702001"":7,""060372345011"":4,""0603726400..."
1,zzw-222@5z6-3r2-h5z,NaN,La Flor Blanca Restaurant,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,Latin American Food,722511.0,34.003471,...,40.0,"{""<5"":2,""5-10"":35,""11-20"":15,""21-60"":31,""61-12...","{""Starbucks"":5,""ARCO"":3,""El Pollo Loco"":2,""McD...","{""McDonald's"":37,""Ross Stores"":35,""Starbucks"":...","[5,6,6,8,8,9,15,10,20,29,29,22,24,26,25,24,19,...","{""Monday"":18,""Tuesday"":12,""Wednesday"":22,""Thur...","{""android"":71,""ios"":9}",6.037232e+10,"{""06037231900"":12,""06037236100"":5,""06037464000...","{""060372319002"":14,""060730102002"":4,""060372312..."
2,222-226@5z5-3rr-td9,zzy-225@5z5-3rr-td9,Merrill Lynch,SG_BRAND_44f5944cc1e9f835,Merrill Lynch,Other Financial Investment Activities,Investment Advice,NaN,523930.0,34.053750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,223-222@5z5-3qt-xyv,NaN,Amigo Liquor,NaN,NaN,"Beer, Wine, and Liquor Stores","Beer, Wine, and Liquor Stores",NaN,445310.0,34.059274,...,62.5,"{""<5"":13,""5-10"":69,""11-20"":40,""21-60"":75,""61-1...","{""ARCO"":3,""McDonald's"":3,""The Home Depot"":2,""S...","{""McDonald's"":31,""ARCO"":22,""The Home Depot"":21...","[74,73,73,65,65,72,77,94,83,87,88,77,85,70,55,...","{""Monday"":53,""Tuesday"":55,""Wednesday"":61,""Thur...","{""android"":126,""ios"":40}",6.037209e+10,"{""06037208720"":16,""06037209401"":11,""0603720880...","{""060372087202"":7,""060372094012"":6,""0603721230..."
4,22g-222@5z5-3mr-p9z,NaN,Mr Draw Tattoo,NaN,NaN,Personal Care Services,Other Personal Care Services,NaN,812199.0,34.028188,...,7.0,"{""<5"":1,""5-10"":1,""11-20"":0,""21-60"":0,""61-120"":...",{},"{""Target"":100,""Walmart"":50,""Chevron"":50,""Jamba...","[0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0]","{""Monday"":1,""Tuesday"":0,""Wednesday"":0,""Thursda...","{""android"":4,""ios"":0}",6.037530e+10,"{""06037530302"":4}",{}

In [106]:
data_2019[['poi_cbg']]

            poi_cbg
0      6.037209e+10
1      6.037265e+10
2      6.037265e+10
3      6.037222e+10
4               NaN
...             ...
48978           NaN
48979  6.037265e+10
48980  6.037214e+10
48981           NaN
48982  6.037205e+10

[587796 rows x 1 columns]